.diff-background {
  width: 100%;
  background: #008F7A;
}

.diff-title {
  text-align: center;
  color: #f9f9f9;
  font-size: 2.5rem;
  padding-top: 4rem;
  font-weight: 600;
  }

.diff-section {
  max-width: 1400px;
  margin: 0 auto;
  display: flex; 
  color: #f9f9f9;
  padding: 2rem 4rem; 
  gap: 1.5rem;
  justify-content: space-between;
}

.left-rectangle,
.right-rectangle {
  flex: 1;
  border:none;
  border-radius: 0;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diff-item {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;

}

.diff-icon {
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 2rem; 
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.diff-text h3 {
  margin: 0;
  margin-bottom: 0rem;
}

.diff-text p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  width: 44ch;
  text-align: justify;
}