.mentors-background {
  width: 100%;
  background: none;
  padding: 4rem 0rem;
  z-index: -2;
}

.mentors-title {
  text-align: center;
  margin-top: 0;
  color: #252525;
  align-items: center;
}

.mentors-subtitle {
  text-align: center;
  margin-top: 0.5rem;
  color: #000000;
  opacity: 0.5;  
  width: 75ch;
  margin-left: auto;
  margin-right: auto;
}

.mentor-section {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 4rem;
  border-radius: 0;
  gap: 1rem;
  position: relative;
}

.mentor-section::after {
  content: '';
  top: 10;
  left: 10;
  position: absolute; /* Change to absolute */
  width: 89%;        /* Full width of section */
  max-width: 1400px; /* Match section max-width */
  height: 92%;
  background-color: #008F7A;
  z-index: -1;         /* Behind content */
  border: none;
  border-radius: 0;
}

.mentor-left {
  flex: 1;
  aspect-ratio: 1 / 1;
  border: 3px solid #008F7A;
  border-radius: 0;
  background-color: #252525;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
}

.mentor-right {
  flex: 2;
  border: 3px solid #008F7A;
  border-radius: 0;
  background-color: #252525;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mentor-left img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 0;
}  

.mentor-name {
  margin-bottom: 0.5rem;
  color: #f6f6f6;
  text-align: left;
}

.mentor-text {
  line-height: 1.15;
  color: #f6f6f6;
  text-align: justify;
  width: 60ch;
}

@media (max-width: 768px) {
}


/*

      <div className="mentor-section">
          <div className="mentor-right">
                       <div className="mentor-container">
            <h3 className="mentor-name">Pete Canalichio</h3>
            <p className="mentor-text">
              {t("landing.mentorOneText")}
              <br />
              <br />
              {t("landing.mentorTwoText")}
            </p>
            </div>
          </div>
          <div className="mentor-left">
              <img src="/mentor1.jpg" alt="Pete Canalichio" />
          </div>
      </div>

*/